# Exemplo de variáveis de ambiente para o ambiente Data Lakehouse

# Trino / Metastore
DB_ROOT_USER=root
DB_ROOT_PASSWORD=your_db_root_password
AWS_ACCESS_KEY_ID=your_minio_access_key
AWS_SECRET_ACCESS_KEY=your_minio_secret_key
MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password

# Airflow
AIRFLOW__CORE__FERNET_KEY=your_fernet_key
AIRFLOW__WEBSERVER__SECRET_KEY=your_secret_key
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW_CONN_MINI=minio://your_minio_access_key:your_minio_secret_key@minio:9000
AIRFLOW_UID=50000
