boto3
minio
lxml
beautifulsoup4
pandas
yfinance
duckdb
# apache-airflow==3.0.6
sqlalchemy>=2.0.0  # Para conexão com PostgreSQL
psycopg2-binary>=2.9.0  # Driver PostgreSQL


apache-airflow-providers-amazon>=9.0.0
apache-airflow-providers-postgres
apache-airflow-providers-apache-spark==5.1.1
apache-airflow-providers-oracle
